@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html,
body {
  height: 100vh;
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
}

.title {
  font-size: 2.2rem;
}

.education h6 {
  font-weight: 700;
}

.skills span {
  padding: 5px 10px 5px 10px;
  color: rgb(31 41 55 / var(--tw-text-opacity));
  background-color: #a855f71a;
}

.projects {
  position: relative;
}

.projects .card:not(:first-child) {
  margin: auto 50px auto 50px;
}

.modal-subtitle {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}
.text-slate-400 {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.experience span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.experience h5 {
  font-weight: 700;
}
.modal .btn {
  font-size: 14px;
  padding: 8px 16px;
}
.card-title {
  font-weight: bold;
  cursor: pointer;
}

.modal-content .project-title {
  font-size: 2rem;
}

.dialog-footer {
  display: flex;
  flex-direction: row-reverse;
}
.dialog-footer btn {
  border-radius: 20px;
}

.techs .tech {
  font-size: 13px;
  border-radius: 50px;
  margin: 3px;
}
@media only screen and (max-width: 768px) {
  .title {
    margin-top: 20px;
  }
  .projects .card {
    width: 18rem;
  }

  .mainContent {
    margin-top: 30px;
  }
  .card {
    min-width: 250px !important;
  }
}

@media only screen and (min-width: 760px) {
  .sidebar h1 {
    margin-top: 100px;
  }
  .card {
    min-width: 400px !important;
  }
  .sidebar {
    position: fixed;
  }

  .project-slider h4 {
    margin-top: 100px;
  }

  .projects .card-body {
    padding: 20px 0px !important;
  }
}
